body {
  width: 100%;
  font-family: Helvetica, Arial;
  font-size: 2.5vmax;
}

.box {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
  text-align: center;
}

select {
  width: 100%;
}

input[type=checkbox] {
  position: absolute;
  right: 20px;
  top: 0;
}

#controls {
  display: block;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 40%;
  overflow: auto;
}

#display {
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

#result {
  display: table-cell;
  vertical-align: middle;
  font-size: 20vmin;
  text-align: center;
}

@media (min-width: 550px) {
  #controls {
    top: 10%;
    left: 0;
    width: 50%;
    height: 80%;
  }

  #display {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }
}